.imgbox{
	width: 745px;
	height: 400px;
	background-color: olivedrab;
	margin-top: 80px;
	
}
.yuan{
	width: 80px;
	height: 80px;
	border-radius: 50% 50%;
	background-color: aquamarine;
	float: left;
}
.boxs{
	width: 745px;
	height: 80px;
	background-color: aqua;
}

input{
	border: 1px solid white;
}
.hylr11{
	display: flex;
}
.top11{
				width: 120px;
				font-size: 20px;
			}
			.rediantop1{
				
				padding-top: 50px;
			}
			.jdtImg{
				height: 150px;
			}
			.box2{
				width: 745px;
				display: flex;
				justify-content: space-between;
			}
			
	.img10{
		margin-top: 130px;
		width: 745px;
		height:200px;
		background-color: aqua;
border-radius: 20px;	
}

.box100{
	margin-top: 10px;
	width: 745px;
	height: 50px;
	display: flex;
	
}
.box100 div{
	width: 120px;
	height: 50px;
	background-color: salmon;
	
}
.daimgww{
	margin-top: 10px;
	width: 745px;
	height: 300px;
	border-radius: 20px;	
	background-color: aqua;
	
}
.tupian{
	margin-top: 10px;
	width: 700px;
	height: 30px;
	border-radius: 5px;
	background-color: gainsboro;
	display: flex;
	
	
	
}

.tupian div{
	margin-top: 3px;
	text-align: center;
	width: 340px;
	height: 25px;
	border-radius: 5px;
	background-color: white;
	
	
}
.liubai{
	margin-top: 10px;
	width: 745px;
	height: 400px;
	
	
}
.liubaidiv{
	
	width: 745px;
	height: 30px;
	display: flex;
}
.liubaidiv div{
	width: 120px;
	height: 30px;
	text-align: center;
	
}
